div{
    display: flex;
    justify-content: center;
}

button{
    height: 20%;
    font-size: 50px;
    background-color: yellow;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes  blink{
    0%{background-color: lightblue; border-radius: 0%}
    25% {background-color: lightgreen;border-radius: 50%}
    50% {background-color: lightgray; border-radius: 100%}
    75% {background-color: lightgreen; border-radius: 50%}
    100%{background-color: lightblue; border-radius: 0%}
}

img{
    width:50%;

}