bodt{
    background-color:blueviolet;
}

#GridContainer {
    display: grid;
    grid-template-areas:
     'header header header'
     'left main main'
     'left main main'
}

#item1{
    grid-area: header;
    width: 100%;
    background-color: blue;
    height: 33vh;
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: 3;

}

@keyframes blink{
    0% {background-color: rgba(179, 207, 228, 0.447);}
    25% {background-color: rgb(128, 189, 247);}
    50% {background-color:rgb(64, 136, 243);}
    75% {background-color: rgb(128, 189, 247)e;}
    100% {background-color: rgba(179, 207, 228, 0.447);}

}

#item2{
    grid-area: left;
    width: 100%;
    background-color: indianred;
    height: 66vh;
}


#item3{
    grid-area: main;
    width:100%;
    background-color: green;
    height:66vh;
}

@media only screen and (max-width: 600px) {
   body {
       background-color:yellow ;
   }
   #GridContainer {
    display: grid;
    grid-template-areas:
     'header'
     'left'
     'main'
}
}

